<%= render 'layouts/stylesheets' %>
</br></br>
<table class='pagetext'>
		<% @services.each do |service| %>
	<tr>
		<td class='pagetitle'><%= raw service.title %>
		</td>
	</tr>
	<tr>&nbsp;&nbsp;</tr>
	<tr>&nbsp;&nbsp;</tr>
	<tr>
	</br></br>
		<td class='pagetext'><%= raw service.page_text %>
		</td>
  </tr>
<% end %>
</table>