<%= render 'layouts/stylesheets' %>
</br></br>

<%= render 'layouts/stylesheets' %>
</br></br>

<table class='pagetext'>
	<% @guidelines.each do |guideline| %>
		<tr>
			<td class='pagetitle'><%=raw guideline.title %></td>
		</tr>
		</tr>
		<tr></tr><tr></tr>
			<td class='pagetext'><%= raw guideline.page_text %></td>
		</tr>
	<% end %>
</table>

