<%= render 'layouts/stylesheets' %>
</br></br>

<table class='pagetext'>
	<% @guidelines.each do |guideline| %>
		<tr>
			<td><%= guideline.title %></td>
		</tr>
		</tr>
		<tr></tr><tr></tr>
			<td><%= guideline.page_text %></td>
		</tr>
	<% end %>
</table>
</br>

    <td><%= link_to 'Edit', edit_guideline_path(guideline) %></td>
    