<%= render 'layouts/stylesheets' %>
</br></br>

<table class='pagetext'>
	<% @about_aas.each do |about_aa| %>
		<tr>
			<td class=pagetitle><%= about_aa.title %></td>
		</tr>
		<tr></tr><tr></tr>
		<tr>
			<td><%= about_aa.page_text %></td>
		</tr>
		<% end %>
</table>

<br />
