<p id="notice"><%= notice %></p>

<%= render 'layouts/stylesheets' %>
</br></br>

<table class='pagetext'>
	<% @links.each do |link| %>
		<tr>
			<td class='pagetitle'><%=raw link.title %></td>
		</tr>
		</tr>
		<tr></tr><tr></tr>
			<td class='pagetext'><%= raw link.page_text %></td>
		</tr>
	<% end %>
</table>