<p id="notice"><%= notice %></p>

<%= render 'layouts/stylesheets' %>
</br></br>

<table class='pagetext'>
	<% @forms.each do |form| %>
		<tr>
			<td class='pagetitle'><%=raw form.title %></td>
		</tr>
		</tr>
		<tr></tr><tr></tr>
			<td class='pagetext'><%= raw form.page_text %></td>
		</tr>
	<% end %>
</table>